# node Dependencies
node_modules/

# env
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# mac OS junk
.DS_Store
Thumbs.db

# vsode junk
.vscode/

# possible build artifacts
dist/
build/

# will test soon
coverage/